*{margin: 0; padding: 0; box-sizing: border-box;  }

    a{text-decoration: none;}

    li{list-style: none;}

    p{
      font-size: 1.05rem;
      line-height: 1.6;
      font-weight: 500;
      color: black;
      padding: 20px;
    }

.body{
  overflow-x: hidden;
}
.main-logo{
  height: 4rem;
  vertical-align: sub;
  opacity: .95;
  
}

.navbar{
  height: 80px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px;
  background-color: rgba(255, 255, 255)!important;
}

.navbar-brand{
  padding: 20px;
}

.header-section{
  width: 100%;
  height: 90vh;
  text-align: center;
  margin-top: 40px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.5));
  background-size: 100% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 50% 100%, 0 75%);
}

.center-div{
  width: 100%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
}

.header-buttons a{
  border: 1px solid #000;
  border-radius: 100px;
  margin: 10px 20px;
  padding: 12px 30px;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #553C7B;

}

.header-buttons a:hover{
  color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0 #181718;
  text-decoration: none;
}